@model AhorrApp.ViewModel.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Ahorrapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="@Url.Content("~/Content/img/ahorrapp.ico")" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/Content/css/theme-default.css")" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <div class="login-container">

        <div class="login-box animated fadeInDown">
         
          
            <div class="login-body">
                <div class="login-title"><strong>Bienvenido a Ahorrapp</strong>, Porfavor ingrese sus credenciales</div>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.login, new { @class = "form-control", @placeholder = "Login..." })
                            @Html.ValidationMessageFor(x => x.login, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(x => x.password, new { @class = "form-control", @placeholder = "Contraseña..." })
                            @Html.ValidationMessageFor(x => x.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block">Ingresar</button>
                        </div>
                    </div>
                }

            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2018 Ahorrapp
                </div>
                <div class="pull-right">
                    <li>@Html.ActionLink("Registrarse", "Agregar", "Registro")</li>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
